* {
    box-sizing: border-box;
    font-family: 'Fuzzy Bubbles', cursive;
    background-color: rgb(234, 234, 234);
}

#page {
    /* DO I NEED MARGIN IF I WILL CHANGE MARGIN OF FORM */
    margin: 5rem; 
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* header styling */

header {
    margin-top: 2rem;
}

h1 {
    text-align: center;
    font-size: 50px;
    color: rgb(95, 95, 105);
    /* margin-top: 0px; */
    margin-bottom: 5px;
}

.color-text {
    color: rgb(112, 115, 125);
    vertical-align: center;
}

/* form styling */

#user-form {
    grid-column: 1;
    justify-self: center;
}

button {
    min-width: 100px;
    padding: 5px 10px 5px 10px;
    background-color: rgb(210, 207, 207);
    border-radius: 10%;
    margin-top: 5px;
}

label {
    display: inline-block;
    width: 70px;
}

input:focus {
    outline: none;
    border: 3px solid rgb(117, 114, 114);
}

#user-input {
    margin-bottom: 10px;
}

#load {
    margin-top: 3rem;
}

h4 {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 1.2rem;
}

/* Error message */
input:invalid {
    border-color: #900;
    background-color: #fdd;
}

.error {
    font-size: 90%;
    border-radius: 5px;
    padding: 0px;
    background-color: #900;
    color: white;
    border: 1px solid darkred;
    /* width: 5rem; */
}

.error.active {
    padding: 2px;
}

/* maze styling */
#game {
    border: 1px black solid;
    min-width: 100px;
    max-width: 400px;
    min-height: 100px;
    max-height: 400px;
    grid-column: 2;
}

#mazeBox {
    position: relative;
}

#initialImage {
    position: absolute;
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: center;
    /* margin: 2rem; */
}

#initialRobotPic {
    max-height: 50%;
    max-width: 50%;
    /* margin-right: 2rem; */
    border-radius: 50%;
}

#initialMessage {
    font-size: 1.5rem;
    text-align: center;
}

